/* Estilos Header */
.header{
    background-color: #d17c7c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar{
    width: 90vw;
}

.logo{
    margin: 0;
    color: white;
    font-family: 'Dancing Script', cursive; 
}

.nav-link{
    color: white;
    font-size: 1.1rem;
}

/* Estilos Sección Bienvenida */
.container-principal{
    background-color: rgb(255, 235, 238);
    width: 100%;
    height: calc(100vh - 70px);

    display: flex;
    justify-content: center;
    align-items: center;
}

.container-bienvenida{
    width: 90vw;

    display: flex;
    justify-content: center;
    align-items: center;
}

.bienvenida__caja-img{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bienvenida__img{
    width: 70%;
}

.bienvenida__caja-textos{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
}

.bienvenida__h1{
    color: #d17c7c;
    font-size: calc(1.6rem + 1.5vw);
    font-family: 'Satisfy', cursive;
}

.bienvenida__parrafo{
    font-size: 1.2rem;
    text-align: justify;
}

.bienvenida__boton{
    background-color: #d17c7c;
    color: white;
    text-decoration: none;
    padding: 10px 30px 12px;
    border-radius: 50px;
    font-size: 1.1rem;
    text-align: center;
    cursor: pointer;
    
    transition: ease 0.2s;
}

.bienvenida__boton:hover{
    background-color: white;
    color: #d17c7c;
    border: 1px solid #d17c7c;
}


/* Responsive Sección Bienvenida */
@media screen and (max-width: 1440px) {
    .bienvenida__img{
        width: 80%;
    }
    .bienvenida__parrafo{
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 1024px) {
    .container-bienvenida{
        gap: 60px;
    }
    .bienvenida__img{
        width: 100%;
    }
    .bienvenida__parrafo{
        font-size: 1rem;
    }
}

@media screen and (max-width: 768px){
    .container-principal{
        height: auto;
        padding: 30px 0;
    }
    .container-bienvenida{
        flex-direction: column;
        gap: 30px;
    }
    .bienvenida__caja-img{
        width: 90%;
    }
    .bienvenida__caja-textos{
        align-items: center;
        width: 90%;
    }
    .bienvenida__h1{
        font-size: 2rem;
        margin-bottom: 10px;
    }
    .bienvenida__parrafo{
        text-align: center;
    }
}

@media screen and (max-width: 320px){
    .logo{
        display: none;
    }
}



/* Estilos Footer */
.footer{
    background-color: #d17c7c;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    gap: 40px;
}

.footer__icono{
    height: 30px;
}

/* Responsive footer */
@media screen and (max-width: 768px){
    .footer__icono{
        height: 25px;
    }
}

/* Página de contacto con Grids*/
.container-contacto{
    display: grid;
    grid-template-columns: 500px 500px;
   
    height: 650px;
    align-content: center;
    justify-content: center;
    background-color: rgb(255, 235, 238);
    
}

.container-formulario{
    display: flex;
    flex-direction: column;
    padding: 50px;
    border: 1px solid #d17c7c;
}

.container-versiculo{
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color:  white;  
    width: 100%;
    height: 100%;
    background-image: url(/img/cielo.jpg);
    background-position: bottom;
    background-size: cover;
    padding: 0 15px;
    border-top: 1px solid #d17c7c;
    border-left: 1px solid #d17c7c;
    border-bottom: 1px solid #d17c7c;
    
}

.versiculo{
    background-color: #d17c7c81;
    border-radius: 20px;
    color: white;
    padding: 10px;  
}

.formulario-boton{
    background-color: #d17c7c;
    color: white;
    border: none;
}

.contactanos{
    font-size: 2rem;
    font-family: 'Satisfy', cursive;
    color: #d17c7c;
}


/* Responsive contáctanos */
@media screen and (max-width: 1024px){
    .container-contacto{
        grid-template-columns: 350px 350px;
    }
}

@media screen and (max-width: 768px){
    .container-contacto{
        grid-template-columns: auto auto;
        height: auto;
        padding: 60px;
    }
    .container-versiculo{
        grid-column: 1/3;
        height: 300px;
        width: auto;
        border-bottom: none;
        border-right: 1px solid #d17c7c;
    }
    .container-general-formulario{
        grid-column: 1/3;
    }
}


